body{
  background-color: #EEE;
}
#container{
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: white;
  color: black;
  text-align: center;
}


#content{
  padding: 10px;
 
}

#nav{
  width: 180px;
  float: left;
}

#nav.selected{
  font-underline: false;
}
#main{
  width: 700px;
  float: right;
 
}
#screenShot{
  border-style: solid;
  border-color: black;
width: 700px;
  height: auto;
}
#hmPhoto{
width: auto;
  height: auto;
}
img{
  display:block;
  
  width: 700px;
  height: 200px;
  object-fit: cover;
}
#footer{
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
