body{
  background-color: #EEE;
}
#container{
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: white;
  color: black;
  text-align: center;
}
.headClass{
  color: black;
}
#content{
  padding: 10px; 
}
#photo1{
 display:block;
  width: 700px;
  height 200;
  object-fit: cover;
}
#photo2{
 display:block;
  width: 700px;
  height:200;
  object-fit: cover;
}

#nav{
  width: 180px;
  float: left;
}

#nav.selected{
  font-underline: false;
}
#main{
  width: 700px;
  float: right;
 
}

img{
  display:block;
  width: 700px;
  height: 200px;
  object-fit: cover;
}
#footer{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align:right;
}
