body{
  background-color: #EEE;
}
#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: #C0C0C0;
  color: white;
  text-align: center;
}
h2{
 width:800px; 
}
#content{
  padding: 10px;
 
}

#nav{
  width: 180px;
  float: left;
}

#nav.selected{
  font-underline: false;
}
#main{
  width: 600px;
  float: right;
  font:Calibre;
}

#motoPhoto{
  margin-left: auto;
  margin-right: auto;
}
#footer{
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
